<a href="#" class="visit">
    <article class="publications_publication">
        <img src="https://hackernoon.com/drafts/lr2z3yjd.png" alt="BEM & SASS">
        <p>
            <strong>Boost Your CSS with BEM Naming and SASS Nesting - </strong>
            We all have struggled with keeping our CSS classes ordered, maintainable, and more specific. SASS nesting
            and the BEM (Block - Element - Modifier) structure will help us to get rid of this concern.
        </p>
    </article>
</a>