<a href="#" class="visit">
    <article class="publications_publication">
        <img src="https://hackernoon.com/drafts/lr2z3yjd.png" alt="BEM & SASS">
        <p>
            <strong>Boost Your CSS with BEM Naming and SASS Nesting - </strong>
            We all have struggled with keeping our CSS classes ordered, maintainable, and more specific. SASS nesting
            and the BEM (Block - Element - Modifier) structure will help us to get rid of this concern.
        </p>
    </article>
</a>


<!--  Temp -->
<section id="projects" class="projects">
    <h2>Some of my projects...</h2>
    <article class="projects_project" id="tracker">
        <div class="col">
            <h3 class="small">Learning Tracker</h3>
            <div class="browser-frame">
                <img id="tracker_img"
                    src="https://github.com/sebGilR/learning_tracker/blob/master/public/app.png?raw=true" alt="Project">
            </div>
            <div class="actions">
                <a href="https://learning-tracker-ror.herokuapp.com/" target="blank">Live Demo</a>
                <a href="https://github.com/sebGilR/learning_tracker" target="blank">Source Code</a>
            </div>
        </div>
        <div class="col">
            <h3 class="big">Learning Tracker</h3>
            <p class="projects_project_description">
                This is a learning tracker application which lets the user register learning sessions in terms of number
                of
                Pomodoros per session. Sessions can also be included in groups when created, and new groups can be
                created
                as well.
            </p>
        </div>
        <div class="stack">

        </div>
    </article>
    <article class="projects_project">
        <div class="col">
            <h3 class="small">Twitter Bot</h3>
            <div class="browser-frame">
                <img src="assets/img/twitterbot.png" alt="Twitter Bot">
            </div>
            <div class="actions">
                <a target="blank" href="https://github.com/sebGilR/twitter_bot">Source Code</a>
            </div>
        </div>
        <div class="col">
            <h3 class="big">Networking Twitter Bot</h3>
            <p class="projects_project_description">
                The objective of this bot is to "automatically" generate interaction in your twitter account to make
                networking easy. If your interest is software development, setting up the bot to interact with such
                topic
                will grow your network by finding posts and people related to this subject. When interacting with these
                people's posts and following them they are likely to do the same with you.
            </p>
        </div>
        <div class="stack">
        </div>
    </article>
    <article class="projects_project">
        <div class="col">
            <h3 class="small">Swipex</h3>
            <div class="browser-frame">
                <img src="assets/img/swipex.png" alt="Project">
            </div>
            <div class="actions">
                <a target="blank"
                    href="https://rawcdn.githack.com/lBuggie/social-network/8d2ca79745691ab21801c74c85b9c185bbcf2c68/index.html">Live
                    Demo</a>
                <a target="blank" href="https://github.com/sebGilR/social-network">Source Code</a>
            </div>
        </div>
        <div class="col">
            <h3 class="big">Swipex</h3>
            <p class="projects_project_description">
                This is a website for a responsive social network based on a design by <a target="blank"
                    href="https://dribbble.com/ermalength">Vlad Ermakov</a>.
            </p>
        </div>
        <div class="stack">
        </div>
    </article>
    <article class="projects_project" id="swipex">
        <div class="col">
            <h3 class="small">Newsweek Clone</h3>
            <div class="browser-frame">
                <img src="assets/img/newsweek.png" alt="Project">
            </div>
            <div class="actions">
                <a target="blank"
                    href="https://rawcdn.githack.com/lBuggie/newsweek/e3056048ef59b0f7aa621cdabf0235fe2f16b7ca/index.html">Live
                    Demo</a>
                <a target="blank" href="https://github.com/sebGilR/newsweek">Source Code</a>
            </div>
        </div>
        <div class="col">
            <h3 class="big">Newsweek Clone</h3>
            <p class="projects_project_description">
                This page is being cloned from the original using bootstrap where it is possible without affecting the
                styling from the original.
            </p>
        </div>
        <div class="stack">
        </div>
    </article>
</section>