* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

$primary: #1f1e1e;
$secondary: #ebe9e9;
$highlight: rgb(100, 192, 100);

@mixin tablet {
  @media (min-width: 768px) { @content; }
}

@mixin laptop {
  @media (min-width: 1024px) { @content; }
}

@mixin desktop {
  @media (min-width: 1445px) { @content; }
}

@mixin desktop_xl {
  @media (min-width: 2100px) { @content; }
}


@mixin primary-color {
  background-color: $primary;
  color: $secondary;
}

@mixin secondary-color {
  background-color: $secondary;
  color: $primary;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: $primary;
}

h1 {
  font-size: 1.5em;
}

.nav {
  @include primary-color();

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 10px 0;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 5px $primary;
  z-index: 3;

  @include tablet {
    padding: 30px 0;
    width: 180px;
    letter-spacing: 1px;
  }

  @include desktop {
    width: 230px;
  }

  @include desktop_xl {
    width: 320px;
    font-size: 1.2em;
  }

  a {
    color: $secondary;
    font-size: 1em;
  }

  &_menu {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    
      a {
        display: block;
        margin: 15px 0;
        border-bottom: $highlight 2px solid;
        transition: ease-in-out .2s;

        &:hover {
          letter-spacing: 2px;
          color: $highlight;
          transition: ease-in-out .2s;
        }
      }
    }
  }

  &_icons {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      font-size: 2em;
      margin-top: 30px;

      &:hover {
        font-size: 2.5em;
      }
    }

    @include tablet {
      display: none;
    }
  }

  &_title {
    display: none;
    
    @include tablet {
      display: inline-block;
      font-size: 1.5em;
      margin-bottom: 50px;
      text-align: center;
    }
  }

  &_network {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 50px;
    }

    a {
      font-size: 2em;
      margin-top: 30px;
      transition: .2s ease-in-out;

      &:hover {
        font-size: 2.5em;
        transition: .2s ease-in-out;
      }

      @include tablet {
        font-size: 2em;

        &:hover {
          font-size: 2.5em;
        }
      }
    }  
  }

  #progress {
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $highlight;
  }
}

main {
  @include secondary-color();

  position: absolute;
  right: 0;
  top: 0;
  left: 60px;
  letter-spacing: 1px;

  h1, h3, span, strong {
    color: $highlight;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.219);
    font-weight: bold;
  }

  h2 {
    text-align: center;
    margin: 20px 0;
  }

  @include desktop {
    padding-right: 10%;
    padding-left: 10%;
    font-size: 110%;
  }

  @include desktop_xl {
    padding-right: 20%;
    padding-left: 20%;
  }

  .about {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    color: $secondary;
    text-shadow: 0 0 7px $primary;
    background-color: $primary;
    font-size: 1.2em;

    @include desktop_xl() {
      border-radius: 10px;
      margin: 20px;
    }

  }

  .projects {

    &_project{
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      border-bottom: 3px double $highlight;

      h3 {
        color: rgba(43, 115, 43, 0.842);
      }

      @include laptop {
        display: grid;
        grid-template-columns: 60% calc(40% - 50px);
        grid-template-rows: auto 30px;
        padding: 50px;
        grid-gap: 50px;
        align-items: start;

        
      }

      .col {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .small {
          margin: 15px 0;

          @include laptop {
            display: none;
          }
        }

        .big {
          display: none;

          @include laptop {
            display: inline-block;
          }
        }
      }

      .browser-frame {
        position: relative;
        border-radius: 5px;
        background-color: rgba(230, 230, 230, 0.7);
        border-top: 2em solid rgba(230, 230, 230, 0.7);
        box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
        height: auto;
        max-width: 400px;

        @include laptop {
          max-width: 500px;
        }

        &::before {
          display: block;
          position: absolute;
          content: '';
          top: -1.25em;
          left: 1em;
          width: 0.5em;
          height: 0.5em;
          border-radius: 50%;
          background-color: #f44;
          box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
        }

        img {
          display: inline-block;
          width: 100%;
          height: auto;
        }

      }

      .actions {
        text-align: center;
        margin: 20px 0;

        @include tablet {
          margin-top: 15px;
        }

        a {
          font-weight: bold;
          color: $primary;
          background-color: $highlight;
          display: inline-block;
          box-shadow: 0 0.3em 0.5em 0 rgba(0, 0, 0, 0.5);
          padding: 7px;
          border-radius: 5px;
          transition: ease-in .3s;

          &:hover {
            color: $highlight;
            text-shadow: 0 0 7px $primary;
            background-color: $primary;
            transition: ease-out  .3s;
            padding-right: 15px;
            padding-left: 15px;
          }
        }
      }

      &_description {
        margin: 20px 0 30px 0;

        a {
          font-weight: bold;
          color: $primary;
          display: inline-block;
          border-bottom: 2px solid $highlight;

          &:hover {
            color: $highlight;
          }
        }
      }
      
      .stack {
        height: auto;
        width: 100%;

        @include tablet {
          grid-column: 1 / 3;
        }

        ul {
          width: 100%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          @include tablet {
            height: 30px;
          }

          li:not(:last-child) {
            margin-right: 30px;
          }

          svg {
            height: 30px;
            width: auto;
          }
        }
      }
    }
  }

  .publications {
    width: 100%;
    display: flex;
    flex-direction: column;

    .visit {
      color: $primary;
    }

    strong {
      color: rgba(43, 115, 43, 0.842);
    }
    
    &_publication {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

      @include tablet {
        flex-direction: row;
      }

      img {
        width: 220px;
        height: auto;
        margin-bottom: 20px;

        @include tablet {
          width: 180px;
          margin-bottom: 0;
        }
      }

      p {
        margin-left: 20px;
      }
    }
  }

  @include tablet {
    left: 180px;
  }

  @include desktop {
    left: 230px;
  }
}

#tracker {
  &_img {
    max-height: 350px;
    width: auto;
  }

  @include laptop {
    grid-template-columns: 40% calc(60% - 50px);
    grid-template-rows: auto 30px;
  }
}

footer {
  background-color: $primary;
  color: $secondary;
  padding: 0.5em;
  text-align: center;
  line-height: 2em;
  margin-top: 3em;

  a {
    color: $highlight;

    &:hover {
      color: $secondary;
    }
  }
}
